@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro (por defecto) */

:root {
    --color-background: rgb(252, 252, 252);
    --color-surface: rgb(255, 255, 255);
    --color-primary: rgb(70, 124, 240);
    --color-secondary: rgb(0, 0, 0);
    --color-on-background: rgb(70, 70, 70);
    --color-on-surface: rgb(0, 0, 0);
    --color-on-primary: rgb(255, 255, 255);
    --color-on-secondary: rgb(255, 255, 255);
}


/* Tema oscuro */

[data-theme="dark"] {
    --color-background: rgb(20, 20, 20);
    --color-surface: rgb(38, 38, 38);
    --color-primary: rgb(90, 150, 255);
    --color-secondary: rgb(255, 255, 255);
    --color-on-background: rgb(220, 220, 220);
    --color-on-surface: rgb(255, 255, 255);
    --color-on-primary: rgb(255, 255, 255);
    --color-on-secondary: rgb(0, 0, 0);
}


/*Options*/

body {
    background-color: var(--color-background) !important;
}